<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         strict="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">

    <!--<php>
        <env name="ORIANCCI_PHPUNIT_HOSTTYPE" value="mysql" />
        <env name="ORIANCCI_PHPUNIT_HOSTNAME" value="localhost" />
        <env name="ORIANCCI_PHPUNIT_USERNAME" value="" />
        <env name="ORIANCCI_PHPUNIT_PASSWORD" value="" />
        <env name="ORIANCCI_PHPUNIT_DATABASE" value="" />
    </php>-->

    <testsuites>
        <testsuite name="Oriancci Test Suite">
            <directory>tests/Oriancci</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="tests/Oriancci/coverage" charset="UTF-8"
            yui="false" highlight="true" lowUpperBound="60" highLowerBound="90" />
    </logging>
</phpunit>